<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>IP listeleme</title>
    <link rel="stylesheet" href="/static/yedek.css">
</head>
<body>
    <h1>IP listesi</h1>
{% load render_table from django_tables2 %}
{% render_table ipler %}

{{ ipler.0 }}<br>
{{ ipler.0.mac }}<br>
{{ ipler }}<br>
{{ birimler }}<br><br>

<form action="/url/to/submit/" method="post" class="form">
    {{ form }}
<button type="submit" class="btn btn-primary">Gönder</button>
</form>

    <table>
        <tr>
		<th>IP adresi</th>
		<th>MAC adresi</th>
		<th>E-posta adresi</th>
		<th>Birim</th>
		<th>Tarih</th>
		<th>Aktif mi?</th>
		<th>Açıklama</th>
	</tr>
        {% for ip in ipler %}
            <tr class="odd">
                <td>{{ ip.ip }}</td>
                <td>{{ ip.mac }}</td>
                <td>{{ ip.eposta }}</td>
                <td>{{ ip.birim }}</td>
                <td>{{ ip.tarih }}</td>
                <td>{{ ip.aktif }}</td>
                <td>{{ ip.aciklama }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
